.edit_button {
  	border: none;
  	background: url("edit.png");
  	width: 20px;
  	height: 17px;
  	position: absolute;
  	top: 10px;
  	right: 0px;
}

.delete_button {
  	border: none;
  	background: url("delete.png") no-repeat;
  	width: 12px;
  	height: 14px;
  	position: absolute;
  	top:13px;
 	right: 20px;
}

.helpful {
	font-size: .6em;
	line-height: 1em;
	position: absolute;
  	top:13px;
 	right: 20px;
 	background-color: #4ECDC4;
	border-radius: 10px;
	border: none;
	color: white;
	padding-left: 10px;
	padding-right: 10px;	
}

.comment {
	width: 70%;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	border: 3px solid #4ECDC4;
	padding: 5px;
	padding-bottom: 3px;
	margin-bottom: 15px;
	margin-top: 15px;
	border-radius: 5px;
}

.comment p {
	/*line-height: 5em;*/
	text-align: left;
}

.user-info {
	font-size: .7em;
	line-height: 1em;
	/*background-color: red;*/
	margin: 0px;
}

