nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #666;
  width: 100%;
  margin: 0;
  height: 50px;

  .logo {
    margin-left: 20px;
    width: 30%;
    display: inline-block;
    float: left;
    line-height: 50px;
  }

  a, a:visited {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    margin-left: 10px;
  }

  a:hover {
    color: #DDD;
  }

  ul {
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    li {
      line-height: 50px;
      list-style: none;
      display: inline-block;
    }
    .search {
      margin-right: 40px;
      input {
        border: 1px solid #999;
        border-radius: 10px;
        font-size: 0.8em;
        color: #444;
        text-align: center;
        -webkit-appearance: none;
      }
    }
  }
}

.container {
  width: 100%;
  margin-top: 60px;

  .spot {
    position: relative;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 25%;
    li {
      list-style: none;
    }
  }
}




