#active {
	background-color: yellow;
}

#spot {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	font-size: 1.25em;
	background-color: #f6f6f6;
	padding-left: 20px;
}

#spot textarea {
	width: 50%;
	height: 150px;
	font-size: 1em;
}

#submit-comment {
	background-color: #4ECDC4;
	font-size: .75em;
	border-radius: 10px;
	border: none;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

#back {
	text-decoration: none;
	font-size: 1em;
	color: #4ECDC4;
	margin-top: 20px;
	left: 20px;
}

.spot-photo {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin: 20px;
}

.spot-photo img {
	border: 10px solid #4ECDC4;
}

h1, h3 {
	text-align: center;
}